@font-face {
  font-family: "erotiquetrial_bold";
  src: url("../fonts/erotiquetrial-bold-webfont.woff2") format("woff2"),
    url("../fonts/erotiquetrial-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Turnpike";
  src: url("../fonts/Turnpike.eot");
  src: url("../fonts/Turnpike.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Turnpike.woff2") format("woff2"),
    url("../fonts/Turnpike.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "neue_montreallight";
  src: url("../fonts/neuemontreal-light-webfont.woff2") format("woff2"),
    url("../fonts/neuemontreal-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "neue_montrealmedium";
  src: url("../fonts/neuemontreal-medium-webfont.woff2") format("woff2"),
    url("../fonts/neuemontreal-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "neue_montrealregular";
  src: url("../fonts/neuemontreal-regular-webfont.woff2") format("woff2"),
    url("../fonts/neuemontreal-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "migra_extralight_italic";
  src: url("../fonts/migra-extralight-webfont.woff2") format("woff2"),
    url("../fonts/migra-extralight-webfont.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "migra_italicextralight_italic";
  src: url("../fonts/migraitalic-extralightitalic-webfont.woff2")
      format("woff2"),
    url("../fonts/migraitalic-extralightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NanumSquare";
  font-weight: 300;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-Light.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-Light.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-Light.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-Light.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/NanumSquare/NanumSquare-Light.ttf")
      format("truetype");
  font-display: swap;
}
/* @font-face {
  font-family: "LeferiPoint-WhiteObliqueA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LeferiPoint-WhiteA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LeferiPoint-SpecialA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-SpecialA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
} */

@font-face {
  font-family: "gallery_modernregular";
  src: url("../fonts/gallerymodern-webfont.woff2") format("woff2"),
    url("../fonts/gallerymodern-webfont.woff") format("woff"),
    url("../fonts/gallerymodern-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gallientregular";
  src: url("../fonts/gallientregular-ezomp-webfont.woff2") format("woff2"),
    url("../fonts/gallientregular-ezomp-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "arsenica_trial-medium";
  src: url("../fonts/arsenicatrial-medium-webfont.woff2") format("woff2"),
    url("../fonts/arsenicatrial-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "S-CoreDream-6Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "S-CoreDream-2ExtraLight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
