@charset "utf-8";

.scroll {
  position: fixed;
  left: 20px;
  bottom: 20px;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  text-align: center;
  font-size: 12px;
  padding: 0px 20px;
}

/* 레이아웃 */
#wrap {
  /* height: 2500vh; */
  background-color: #2f2f2f;
  overflow: hidden;
}

#header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  /*background: #fff758;*/
  z-index: 9999;
  
}
#cont__01 {
  /* height: 500vh; */
  height: calc(200vh + 130vw);
  width: 100%;
  background-color: #0d0d0d;
  /*background: url(../img/bg.jpg) center / cover no-repeat;*/
  position: relative;
  overflow: hidden;
  /* border: 1px solid #66ff9c; */
}
#cont__02 {
  height: 140vw;
  /* height: 200vh; */
  width: 100%;
  background-color: #0d0d0d;
  border: 1px solid #0d0d0d;
  overflow: hidden;
}
#cont__03 {
  height: calc(120vh + 190vw);
  width: 100%;
  background-color: #0d0d0d;
  /* border: 1px solid #66b3ff; */
  overflow: hidden;
}
#cont__04 {
  height: 120vh;
  width: 100%;
  background-color: #0d0d0d;
  /* border: 1px solid #66b3ff; */
  overflow: hidden;
}
#section5 {
  height: 400vh;
  width: 100%;
  background-color: #0d0d0d;
  border: 1px solid #66b3ff;
}

/* 헤더 영역 */

#header h1 {
  margin: 30px 0 0 30px;
  color: #fff;
  font-size: 1vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
}
#header nav {
  margin: 30px 30px 0 0;
}
#header nav > ul {
  text-align: right;
}

#header nav > ul > li > a {
  color: #808080;
  font-size: 1vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  line-height: 150%;
}

#header .active a {
  color: #ffffff;
  font-size: 1vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

/* section1 영역 */
/* main 영역 */
#main {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: url(../img/main.jpg) center / cover no-repeat;
}
#main .h1 {
  position: absolute;
  color: #fff;
  font-size: 4vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /*border: 1px solid #78C63B;*/
  text-align: center;
  width: 70vw;
}
#main .h1:nth-child(2) {
  font-size: 2.5vw;
}

#main .h1 strong {
  font-family: "erotiquetrial_bold";
  display: inline-block;
}

#main .h1 em {
  display: inline-block;
}

/* section1 영역 */
#cont__01 .intro_tit {
  width: 100%;
  height: 100vh;
  /*border: 2px solid #78C63B;*/
  position: relative;
}
#cont__01 .intro_tit_center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 4.3vw;
  letter-spacing: -3px;
  word-spacing: 3px;
  /*font-family: 'migra_extralight';*/
  font-family: "erotiquetrial_bold";
  text-align: center;
  /*border: 1px solid #fff;*/
  line-height: 70%;
}
#cont__01 .arrowdown {
  /*height: 20vw;
    width: 1vw;*/
  position: absolute;
  left: 50%;
  /*top: 35%;*/
  transform: translate(-50%, -50%);
  /*border: 1px solid #fff;*/
  /*z-index: 200;*/
}

#cont__01 .intro {
  width: 100%;
  height: 130vw;
  /* height: 300vh; */
  /* border: 1px solid #c7b751; */
  position: relative;
  overflow: hidden;
}

.intro .t1 {
  position: absolute;
  top: 30%;
  left: 2.5%;
  /* left: 50%; */
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 47.5vw;
  font-family: "Turnpike";
  /* font-family: "Fugaz One", cursive; */
  /* font-family: 'gallery_modernregular'; */
  /* border: 2px solid #da0000; */
  line-height: 85%;
  text-align: center;
  letter-spacing: -35px;
  z-index: 1999;
}

.intro .n1 {
  position: absolute;
  top: 37vw;
  left: 7%;
  width: 38vw;
  height: 25vw;
  /*border: 2px solid #da0000;*/
}
.intro .n2 {
  position: absolute;
  top: 53vw;
  right: 2.5%;
  width: 35vw;
  height: 25vw;
  /*border: 2px solid #da0000;*/
}
.intro .n3 {
  position: absolute;
  top: 70vw;
  left: 2%;
  width: 38vw;
  height: 25vw;
  /*border: 2px solid #da0000;*/
}
.intro .n4 {
  position: absolute;
  top: 90vw;
  right: 20%;
  width: 33vw;
  height: 36vw;
  /* border: 2px solid #da0000; */
}

.intro .n1 .cover img {
  width: 100%;
}
.intro .n2 .cover img {
  width: 100%;
}
.intro .n3 .cover img {
  width: 100%;
}
.intro .n4 .cover img {
  width: 100%;
}

/* cont__02 영역 */

#cont__02 .about__cont {
  /* height: 250vh; */
  width: 100vw;
  height: 120vw;
  /* border: 1px solid #c7b751; */
  margin-top: 10vw;
  position: relative;
  overflow: visible;
}
#cont__02 .about__cont__imgWrap {
  position: absolute;
  top: -2.5vw;
  left: 45%;
  transform: translate(-50%, -50%);
  width: 45vw;
  height: 55vw;
  /* border: 1px solid #d57272; */
  overflow: hidden;
  position: relative;
}

#cont__02 .about__cont__img {
  /* position: absolute;
  left: -6.5%; */
  /*transform:translate(-50%,-50%);*/
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/web_profile02.jpg);
}

#cont__02 .about__cont__tit h1 {
  position: absolute;
  font-family: "gallery_modernregular";
  font-size: 12.5vw;
  color: rgba(229 213 214);
}

/* #sec2 .about__cont__text .h_a1 {
  top: 15vw;
  left: 20%;
}
#sec2 .about__cont__text .h_a2 {
  top: 27vw;
  left: 3%;
}
#sec2 .about__cont__text .h_a3 {
  top: 39vw;
  left: 13%;
} */

#cont__02 .about__cont__tit .h_a1 {
  top: 20vw;
  left: 23%;
}
#cont__02 .about__cont__tit .h_a2 {
  top: 30vw;
  left: 6%;
}
#cont__02 .about__cont__tit .h_a3 {
  top: 40vw;
  left: 16%;
}

#cont__02 .line__center__a {
  position: absolute;
  left: -1%;
  top: -47.5vw;
  transform: translate(-50%, -50%);
  /* border: 1px solid #fff; */
  /* color: yellow; */
  width: 100vw;
  height: 20px;
  overflow: hidden;
}
#cont__02 .line__center__a .line {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 95vw;
  height: 1px;
  border-top: 1px solid rgb(239, 239, 239);
}

#cont__02 .about__cont__text01 {
  position: absolute;
  top: 67.5vw;
  left: 2%;
  width: 45vw;
  font-size: 2.4vw;
  text-align: right;
  color: rgb(255, 255, 255);
  /* font-family: "YUniverse-B"; */
  /* font-family: "Cafe24Simplehae"; */
  /* font-family: "HSBombaram"; */
  /* font-family: "S-CoreDream-6Bold"; */
  font-family: "S-CoreDream-2ExtraLight";
  /* font-family: "twaysky"; */
  line-height: 135%;
}
#cont__02 .about__cont__text01 > .t01_a2 > span > .bold,
#cont__02 .about__cont__text01 > .t01_a3 > span > .bold {
  font-family: "S-CoreDream-6Bold";
  color: rgb(255, 240, 241);
}

.about__cont__text01 .t01_a1,
.about__cont__text01 .t01_a2,
.about__cont__text01 .t01_a3 {
  overflow: hidden;
}

.about__cont__text01 > .t01_a1 > span,
.about__cont__text01 > .t01_a2 > span,
.about__cont__text01 > .t01_a3 > span {
  display: inline-block;
  /* background-color: #66b3ff; */
}

#cont__02 .about__cont__text {
  position: absolute;
  top: 9.5vw;
  left: -3%;
  transform: translate(-50%, -50%);
  width: 45vw;
  font-size: 0.95vw;
  text-align: right;
  color: #ffffff;
  /* font-family: 'Chosunilbo_myungjo'; */
  font-family: "NanumSquare";
  line-height: 150%;
  /* border: 1px solid #fff; */
  margin: 0 auto;
  margin-top: 21.5vw;
  /* line-height: 150%; */
  z-index: 100;
  position: relative;
}
.about__cont__text .t_a1,
.about__cont__text .t_a2,
.about__cont__text .t_a3,
.about__cont__text .t_a4,
.about__cont__text .t_a5,
.about__cont__text .t_a6,
.about__cont__text .t_a7,
.about__cont__text .t_a8,
.about__cont__text .t_a9 {
  overflow: hidden;
}

.about__cont__text > .t_a1 > span,
.about__cont__text > .t_a2 > span,
.about__cont__text > .t_a3 > span,
.about__cont__text > .t_a4 > span,
.about__cont__text > .t_a5 > span,
.about__cont__text > .t_a6 > span,
.about__cont__text > .t_a7 > span,
.about__cont__text > .t_a8 > span,
.about__cont__text > .t_a9 > span {
  display: inline-block;
  /* background-color: #0d0d0d; */
}

/* cont__03 영역 */
#cont__03 .title__box {
  width: 100%;
  height: 120vh;
  /*border: 2px solid #78C63B;*/
  position: relative;
}
#cont__03 .tit__center {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  /*border: 1px solid #fff;*/
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 8vw;
  line-height: 9%;
  text-align: center;
  font-weight: 200;
}
#cont__03 .tit__sub {
  position: absolute;
  left: 50%;
  top: 62.5%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 2.5vw;
  font-weight: 100;
  line-height: 110%;
  text-align: center;
  /*border: 1px solid #c7b751;*/
  overflow: hidden;
}
.tit__center .t1 {
  font-family: "Italiana", serif;
  font-size: 9vw;
  overflow: hidden;
  /*border: 1px solid #78C63B;*/
  width: 55vw;
}
.tit__center .t2 {
  overflow: hidden;
}
.tit__center .split {
  /*background: #444444;*/
  display: inline-block;
  padding: 3.2vw;
}
.tit__center span {
  display: inline-block;
}
.tit__sub .t1,
.tit__sub .t2 {
  overflow: hidden;
}
.tit__sub .split {
  /*background: #444444;*/
  display: inline-block;
}

#cont__03 .line__center {
  position: absolute;
  left: 50%;
  top: 75%;
  transform: translate(-50%, -50%);
  /* border: 1px solid #fff; */
  color: yellow;
  width: 90vw;
  height: 20px;
  overflow: hidden;
}
#cont__03 .line__center .line {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 1px;
  border-top: 1px solid #ffffff;
}

#cont__03 .project__cont {
  margin: 0 auto;
  width: 100%;
  height: 190vw;
  /* border: 1px solid #c7b751; */
}


/* project__cont__center */
.project__reveal {
  /* display: grid; */
  place-items: center;
  /* height: 100vh;
  width: 100%; */
  position: relative;
}


body:not(.no-js) .image-wrap {
  transition: 1s ease-out;
  transition-delay: 0.2s;
  position: relative;
  width: auto;
  height: 80vh;
  overflow: hidden;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  visibility: hidden;
}

body:not(.no-js) .image-wrap img {
  transform: scale(1.3);
  transition: 2s ease-out;
}

body:not(.no-js) .animating .image-wrap {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  visibility: visible;
  transform: skewY(0);
}

body:not(.no-js) .animating img {
  transform: scale(1);
  width: 100%;
  transition: 4s ease-out;
}

body:not(.no-js) .fadeup {
  opacity: 0;
  transition: 0.4s ease-out;
  transform: translateY(40px);
}

body:not(.no-js) .fading-up {
  opacity: 1;
  transition: 1s ease-out;
  transform: translateY(0px);
  transition-delay: 0.7s;
}

#cont__03 .project__cont__center {
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  width: 76vw;
  height: 220vw;
  /* flex-direction: column; */
  overflow: hidden;
  /* background: rgba(0, 0, 0); */
  margin: 0 auto;
  padding: 0 3vw;
  position: relative;
}
#cont__03 .project__cont__center li {
  cursor: pointer;
  float: left;
  display: inline-block;
  margin-bottom: 5.73vw;
}
#cont__03 .project__cont__center li * {
  transition: all 500ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
}
#cont__03 .project__cont__center li .image-wrap {
  width: 35.75vw;
  height: 52vw;
  background: #000000;
  color: #ffffff;
  position: relative;
  overflow: hidden;
  transition: all 500ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
  opacity: 0.9;
}
#cont__03 .project__cont__center li:hover .image-wrap {
  opacity: 0.25;
  transform: scale(1.025);
}
#cont__03 .project__cont__center li:hover .image-wrap img {
  transform: scale(1.05);
}

#cont__03 .project__cont__center .p1 {
  position: absolute;
  top: 10vw;
}
#cont__03 .project__cont__center .p2 {
  position: absolute;
  top: 30vw;
  right: 3vw;
}
#cont__03 .project__cont__center .p3 {
  position: absolute;
  top: 70vw;
}
#cont__03 .project__cont__center .p4 {
  position: absolute;
  top: 70vw;
  right: 3vw;
}
#cont__03 .project__cont__center .p5 {
  position: absolute;
  top: 130vw;
}
#cont__03 .project__cont__center .p6 {
  position: absolute;
  top: 110vw;
  right: 3vw;
}


#cont__03 li .image-wrap img {
  /* position: absolute;
  left: -5%; top: -5%; */
  width: 100%;
  /* height: 105%; */
  object-fit: cover;
  transition: transform 500ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
  transform-origin: left;
}
#cont__03 li:hover .image-wrap img {
  filter: grayscale(0%)
}

#cont__03 li figcaption {
  position: absolute;
  top: 55%;
  left: 7%;
  right: 7%;
  bottom: 45%;
  /* border: 1px solid white; */
  border-width: 1px 1px 0;
  z-index: 999;
}
#cont__03 li .heading {
  overflow: hidden;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  position: absolute;
  bottom: 0;
  width: 100%;
}
#cont__03 li h2 {
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  font-size: 1.7vw;
  display: table;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  text-align: center;
  width: auto;
  text-transform: uppercase;
  font-weight: 400;
}

#cont__03 li h2 span {
  font-weight: 800;
}
#cont__03 li h2:before,
#cont__03 li h2:after {
  position: absolute;
  display: block;
  width: 1000%;
  height: 1px;
  content: "";
  background: white;
  top: 50%;
}
#cont__03 li h2:before {
  left: -1000%;
}
#cont__03 li h2:after {
  right: -1000%;
}

#cont__03 h3 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  /* -webkit-text-stroke: 1px white;
  text-stroke: 1px white; */
  font-size: 1.7vw;
  position: absolute;
  /* top: 25%; */
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  /* display: grid; */
  place-items: center;
  color: #ffffff;
} 
#cont__03 h3 span {
  font-weight: 800;
}

#cont__03 li p {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  text-align: center;
  width: 100%;
  /* padding: 0 20px; */
  margin: 0;
  opacity: 0;
  line-height: 1.7em;
  font-size: 1.05em;
  /* font-size: 0.8em; */
  font-family: "NanumSquare";
  color: #ffffff;
}

#cont__03 li p span {
  font-weight: 800;
  font-size: 1.4em;
  font-family: "neue_montrealregular";
}
/* #cont__03 li a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
} */

/* li .mText {
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.3vw;
  line-height: 1.6;
  white-space: nowrap;
} */


#cont__03 li:hover figcaption,
#cont__03 li.hover figcaption {
  top: 7%;
  bottom: 7%;
}
#cont__03 li:hover p,
#cont__03 li.hover p {
opacity: 1;
-webkit-transition-delay: 0.35s;
transition-delay: 0.35s;
}

#cont__03 .cursor {
  position: absolute;
  width: 20px; height: 20px;
  background: #fff;
  border-radius: 50%;
  z-index: 1000;
  user-select: none;
  pointer-events: none;
}













/* cont__04 영역 */
#cont__04 .title__box {
  width: 100%;
  height: 120vh;
  /*border: 2px solid #78C63B;*/
  position: relative;
}
#cont__04 .tit__center {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  /*border: 1px solid #fff;*/
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 8vw;
  line-height: 9%;
  text-align: center;
  font-weight: 200;
}
#cont__04 .tit__sub {
  position: absolute;
  left: 50%;
  top: 62.5%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 2.5vw;
  font-weight: 100;
  line-height: 110%;
  text-align: center;
  /*border: 1px solid #c7b751;*/
  overflow: hidden;
}
#cont__04 .line__center {
  position: absolute;
  left: 50%;
  top: 75%;
  transform: translate(-50%, -50%);
  /* border: 1px solid #fff; */
  color: yellow;
  width: 90vw;
  height: 20px;
  overflow: hidden;
}
#cont__04 .line__center .line {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 1px;
  border-top: 1px solid #ffffff;
}




#section2 .script__box {
  width: 100vw;
  height: 100vh;
  /* border: 1px solid #c6733b; */
  overflow: hidden;
}

#section2 .script__cont {
  width: 50%;
  height: 100vh;
  background-color: #0d0d0d;
  float: left;
}
#section2 .script__text__Wrap {
  position: absolute;
  left: 45%;
  top: 50%;
  width: 31vw;
  transform: translate(-50%, -50%);
  /* border: 1px solid rgb(0, 0, 0); */
}


/*--------------- script text 01-----------------*/

#section2 .script__text01 {
  width: 50%;
  height: 100vh;
  background-color: #ffffff;
  float: left;
  position: relative;
}

#section2 .h-s1 {
  font-family: "migra_extralight_italic";
  color: #000000;
  font-size: 10.3vw;
}
#section2 .h-s2 {
  font-family: "migra_italicextralight_italic";
  color: #000000;
  font-size: 10vw;
  margin-top: -4.5vw;
}

#section2 .p-s1 {
  font-family: "NanumSquare";
  font-size: 1vw;
  color: #000000;
  /* border: 1px solid #ffffff; */
  line-height: 150%;
  margin-top: 1.5vw;
}

/*--------------- script text 02-----------------*/

#section2 .script__text02 {
  width: 50%;
  height: 100vh;
  background-color: #000000;
  float: left;
  position: relative;
}

#section2 .script__text02 .h-s1 {
  font-family: "migra_extralight_italic";
  color: #ffffff;
  font-size: 10.3vw;
}
#section2 .script__text02 .h-s2 {
  font-family: "migra_italicextralight_italic";
  color: #ffffff;
  font-size: 10vw;
  margin-top: -4.5vw;
}
#section2 .script__text02 .p-s1 {
  font-family: "NanumSquare";
  font-size: 1vw;
  color: #ffffff;
  /* border: 1px solid #000000; */
  line-height: 150%;
  margin-top: 1vw;
}

/*--------------- script text 03-----------------*/

#section2 .script__text03 {
  width: 50%;
  height: 100vh;
  background-color: #faad00;
  float: left;
  position: relative;
}






/*--------------- button -----------------*/

#section2 button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  margin-top: 2vw;
  margin-right: 1vw;
}
#section2 button.codebtn {
  width: 9rem;
  height: auto;
}
#section2 button.codebtn .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 1.75rem;
  height: 1.75rem;
  background: #000000;
  border-radius: 1.625rem;
}
#section2 .script__text02 button.codebtn .circle {
  background: #ffffff;
}

#section2 button.codebtn .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #ffffff;
}
#section2 .script__text02 button.codebtn .circle .icon {
  background: #000000;
}
#section2 button.codebtn .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.1rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
#section2 button.codebtn .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.26rem;
  right: 0.0625rem;
  width: 0.5rem;
  height: 0.5rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
#section2 .script__text02 button.codebtn .circle .icon.arrow::before {
  border-top: 0.125rem solid rgb(0, 0, 0);
  border-right: 0.125rem solid rgb(0, 0, 0);
}

#section2 button.codebtn .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.2rem 0;
  margin: 0 0 0 1.85rem;
  color: #000000;
  /* font-weight: 700; */
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
  font-family: "neue_montrealregular";
  font-size: 1rem;
  line-height: 1.5;
}
#section2 .script__text02 button.codebtn .button-text {
  color: #ffffff;
}

#section2 button:hover .circle {
  width: 100%;
}
#section2 .script__text02 button:hover .circle {
  width: 100%;
  color: #ffffff;
}

#section2 button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}
#section2 .script__text02 button:hover .circle .icon.arrow {
  background: #000;
  transform: translate(1rem, 0);
}

#section2 button:hover .button-text {
  color: #fff;
}
#section2 .script__text02 button:hover .button-text {
  color: #000;
}



#section2 .musicplayer {
  width: 100%;
  height: 100%;
}
#section2 .tetris {
  width: 100%;
  height: 100%;
  /* display: flex;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(45deg, #e2da8c, #dea5d4, #5ba4c1); */
}


/*--------------- popup -----------------*/

#element_to_pop_up,
#element_to_pop_up2,
#element_to_pop_up3,
#element_to_pop_up4,
#element_to_pop_up5  { 
  background-color:rgba(0, 0, 0, 0.4);
  border-radius:20px;
  color:#000;
  display:none; 
  padding:10px;
  width: 950px;
  height: 650px;
}
#element_to_pop_up .player,
#element_to_pop_up2 .player,
#element_to_pop_up3 .player,
#element_to_pop_up4 .player,
#element_to_pop_up5 .player {
  border-radius:20px;
  width: 100%;
  height: 100%;
}
.b-close{
  cursor:pointer;
  position:absolute;
  right:20px;
  top:15px;
  color: #ffffff;
  font-size: 1.5vw;
  font-style: bold;
}
.b-close :hover {
  color: #000;
}



/*------------------------
section3 contact
-------------------------*/
#section3 {
  width: 100%;
  height: 100vh;
  background-color: #0d0d0d;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#section3 .contact__cont {
  width: 88vw;
  height: 30vw;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

#section3 .contact__cont .contact__title {
  font-size: 9.5vw;
  color: #ffffff;
  font-family: "neue_montrealregular";
  transition: 0.5s ease-in-out;
}

#section3 .contact__cont .contact__title:hover  {
  transform: scale(1.05);
}

#section3 .contact__cont .contact__title > span {
  font-family: "Italiana", serif;
}

#section3 .copyright {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-family: "neue_montreallight";
  font-size: 1rem;
  display: inline-block;
}

#section3 .phone {
  display: inline;
  position: absolute;
  top: 90%;
  left: 12%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-family: "neue_montreallight";
  font-size: 1rem;
}

#section3 .email {
  display: inline;
  position: absolute;
  top: 90%;
  right: 12%;
  transform: translate(50%, -50%);
  color: #ffffff;
  font-family: "neue_montreallight";
  font-size: 1rem;
  text-align: right;
}

#section3 .sns01 > a {
  display: inline;
  position: absolute;
  top: 90%;
  left: 47%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-family: "neue_montreallight";
  font-size: 1rem;
  padding: 0px 3px;
}
#section3 .sns02 > a {
  display: inline;
  position: absolute;
  top: 90%;
  left: 53%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-family: "neue_montreallight";
  font-size: 1rem;
}
#section3 .sns01 > a:hover,
#section3 .sns02 > a:hover {
  background-color: #cccccc;
  color: #000000;
}


/*------------------------
section4
-------------------------*/

.contact__intro {
  position: relative;
  /* padding-top: 15rem;
  padding-bottom: 15rem; */
}

.contact__intro__tit{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* transform: skewX(-12deg); */
  font-family: "Italiana", serif;
  font-size: 9vw;
  white-space: nowrap;
  /* font-size: 8rem; */
  line-height: 1;
  /* font-weight: 800; */
  color: #ffffff;
}
.contact__intro__tit > span {
  display: inline-block;
}
.contact__intro__epc01 {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translateX(var(--tw-translate-x)) 
  translateY(var(--tw-translate-y)) 
  rotate(var(--tw-rotate)) 
  skewX(var(--tw-skew-x)) 
  skewY(var(--tw-skew-y)) 
  scaleX(var(--tw-scale-x)) 
  scaleY(var(--tw-scale-y));
  margin-top: 20rem;
}
.skew-x-12 {
  --tw-skew-x: 12deg;
}
.rotate-6 {
  --tw-rotate: 8deg;
}
.translate-50 {
  --tw-translate-x: -40vw;
}

.contact__intro__epc02 {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translateX(var(--tw-translate-x)) 
  translateY(var(--tw-translate-y)) 
  rotate(var(--tw-rotate)) 
  skewX(var(--tw-skew-x)) 
  skewY(var(--tw-skew-y)) 
  scaleX(var(--tw-scale-x)) 
  scaleY(var(--tw-scale-y));
  margin-top: 12.5rem;
}
.-skew-x-12 {
  --tw-skew-x: -12deg;
}
.-rotate-6 {
  --tw-rotate: -8deg;
}
.-translate-50 {
  --tw-translate-x: -80vw;
}

.contact__intro__epc01 > div > span {
  font-size: 3.75rem;
  line-height: 1;
  padding: 1.25rem;
  white-space: nowrap;
  background-color: #ffffff;
  /* opacity: 0.85; */
  /* font-family: "gallery_modernregular"; */
  font-family: "neue_montreallight";
}
.contact__intro__epc02 > div> span {
  font-size: 3.75rem;
  line-height: 1;
  padding: 1.25rem;
  white-space: nowrap;
  background-color: #ffffff;
  /* opacity: 0.85; */
  /* font-family: "gallery_modernregular"; */
  font-family: "neue_montreallight";
}

#section4 > h1{
  color: #ffffff;
  font-family: 'neue_montrealregular';
  font-size: 13vw;
  position: absolute;
  line-height: 100%;
  bottom: 0%;
  z-index: 90;
}

#section4 .contact__box {
  width: 99vw;
  height: 85vh;
  /*border: 2px solid #000000;*/
  background-color: #0d0d0d;
  z-index: 100;
  position: absolute;
  top: 38%;
  left: 50%;
  transform:translate(-50%,-50%);
  box-shadow: 0px 5px 20px #000000 ;
}

#section4 .contact__cont {
  width: 40vw;
  height: 60vh;
  /* border: 2px solid #ffffff; */
  position: absolute;
  top: 55%;
  left: 30%;
  transform:translate(-50%,-50%);
}

#section4 .contact__box .contact__cont > h2 {
  font-family: 'neue_montreallight';
  font-size: 7vw;
  color: #ffffff;
  padding-bottom: 2vw;
  /*position: absolute;
  top: 30%;
  left: 25%;
  transform:translate(-50%,-50%);*/
}
#section4 .contact__box .c-subtit {
  font-family: 'neue_montreallight';
  font-size: 1vw;
  color: #ffffff;
}
#section4 .contact__box .contact__cont > h3 > a {
  width: 25vw;
  font-family: 'neue_montreallight';
  font-size: 3vw;
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(to right, #E2DD5A 0%, #D42020 100%);
  border-image-slice: 1;
  /*position: absolute;
  top: 30%;
  left: 25%;
  transform:translate(-50%,-50%);*/

  background: #78C63B;
  background: -webkit-linear-gradient(left, #E2DD5A, #D42020);
  background:    -moz-linear-gradient(right, #E2DD5A, #D42020);
  background:      -o-linear-gradient(right, #E2DD5A, #D42020);
  background:         linear-gradient(to right, #E2DD5A, #D42020);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
#section4 .sns_icon {
  /*border: 1px solid #1f7752;*/
  margin-top: 1.5vw;
}
#section4 .sns_icon .icon1{
  width: 2vw;
  height: 2vw;
  display: inline-block;
  background: url(../img/icon1.png) center / cover;
  margin: 0 3px;
}
#section4 .sns_icon .icon2{
  width: 2vw;
  height: 2vw;
  display: inline-block;
  background: url(../img/icon2.png) center / cover;
  margin: 0 3px;
}
#section4 .information {
  color: #ffffff;
  margin-top: 1vw;
  line-height: 180%;
}
#section4 .information span {
  font-family: 'neue_montrealregular';
  font-size: 1.5vw;
}
#section4 .information p {
  font-family: 'neue_montreallight';
  font-size: 1.2vw;
}

#section4 .contact__mail {
  width: 40vw;
  height: 60vh;
  border: 2px solid #ffffff;
  position: absolute;
  top: 55%;
  right: 0%;
  transform:translate(-50%,-50%);
}











/*------------------------
section5
-------------------------*/

#section5 .title__box {
  width: 100%;
  height: 120vh;
  /* border: 2px solid #78c63b; */
  position: relative;
}
#section5 .tit__center {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  /* border: 1px solid #fff; */
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 8vw;
  line-height: 9%;
  text-align: center;
  font-weight: 200;
}
#section5 .tit__sub {
  position: absolute;
  left: 50%;
  top: 62.5%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 2.5vw;
  font-weight: 100;
  line-height: 110%;
  text-align: center;
  /* border: 1px solid #c7b751; */
  overflow: hidden;
}
#section5 .line__center {
  position: absolute;
  left: 50%;
  top: 75%;
  transform: translate(-50%, -50%);
  /* border: 1px solid #fff; */
  /* color: yellow; */
  width: 90vw;
  height: 20px;
  overflow: hidden;
}
#section5 .line__center .line {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 1px;
  border-top: 1px solid #ffffff;
}













/* 화면 너비가 0 ~ 1280px : 데스크탑 */
@media (max-width: 1280px) {
  /* #section1 {
    height: calc(200vh + 150vw);
    background-color: #633131;
  }
  #section1 .intro {
    height: 150vw;
  } */

  #section2 {
    height: 200vh;
    background-color: #b81a1a;
  }
  #section2 .about__cont {
    height: 170vh;
    margin-top: 10vw;
  }
  #section2 .about__cont__imgWrap {
    top: -105vw;
    left: 45%;
    width: 55vw;
    height: 65vw;
  }
  #section2 .about__cont__text01 {
    position: absolute;
    top: 73vw;
    left: -1%;
    font-size: 3.2vw;
  }
  #section2 .about__cont__text {
    top: 13.5vw;
    left: -6.25%;
    width: 45vw;
    font-size: 1.2vw;
    line-height: 150%;
    margin-top: 16vw;
  }
}

/* 화면 너비가 0 ~ 1024px : 데스크탑 */
@media (max-width: 1024px) {
  #section1 {
    height: calc(170vh + 150vw);
    background-color: #b3aa4c;
  }
  #section1 .intro {
    height: 150vw;
  }
  #section1 .intro_tit {
    height: 70vh;
  }

  #section2 {
    height: 180vh;
    background-color: #a8b81a;
  }
  #section2 .about__cont {
    height: 150vh;
    margin-top: 10vw;
  }
  #section2 .about__cont__imgWrap {
    top: -105vw;
    left: 45%;
  }
}

/* 화면 너비가 0 ~ 960px : 노트북 */
@media (max-width: 960px) {
  #section1 {
    height: 340vh;
    background-color: #55b34c;
  }
  #section1 .intro {
    height: 170vh;
  }
  #section1 .intro_tit {
    height: 70vh;
  }

  #section2 {
    height: 150vh;
    background-color: #1ab844;
  }
  #section2 .about__cont {
    height: 120vh;
    margin-top: 10vw;
  }
  #section2 .about__cont__imgWrap {
    top: -115vw;
    left: 45%;
  }
}

/* 화면 너비가 0 ~ 768 : 타블렛 */
@media (max-width: 768px) {
  #section1 {
    height: 300vh;
    background-color: #4c4cb3;
  }
  #section1 .intro {
    height: 150vh;
  }
  #section1 .intro_tit {
    height: 50vh;
  }

  #section2 {
    height: 130vh;
    background-color: #1a47b8;
  }
  #section2 .about__cont {
    height: 115vh;
    margin-top: 10vw;
  }
  #section2 .about__cont__imgWrap {
    top: -110vw;
    left: 45%;
  }
}

/* 화면 너비가 0 ~ 576 : 모바일 */
@media (max-width: 576px) {
  #section1 {
    height: 270vh;
    background-color: #c50000;
  }
  #section1 .intro {
    height: 120vh;
  }
  #section1 .intro_tit {
    height: 50vh;
  }

  #section2 {
    height: 110vh;
    background-color: #b81a1a;
  }
  #section2 .about__cont {
    height: 100vh;
    margin-top: 10vw;
  }
  #section2 .about__cont__imgWrap {
    top: -110vw;
    left: 40%;
    width: 60vw;
    height: 70vw;
  }
}

/* 화면 너비가 0 ~ 480 : 모바일 */
@media (max-width: 480px) {
  #section1 {
    height: 250vh;
    background-color: #00c5ab;
  }
  #section1 .intro {
    height: 100vh;
  }
  #section1 .intro_tit {
    height: 50vh;
  }

  #section2 {
    height: 115vh;
    background-color: #1aaeb8;
  }
  #section2 .about__cont {
    height: 100vh;
    margin-top: 10vw;
  }
  #section2 .about__cont__imgWrap {
    top: -110vw;
    left: 40%;
  }
}
